<!DOCTYPE html>
<html lang="th">
    <head>
        <meta charset="UTF-8">
        <title>Webzer Rubygems Proxy</title>
        <style type="text/css">
            @import url('http://fonts.googleapis.com/css?family=Ubuntu');
            body { background: #fff; font-size: 110%; color: #555; font-family: Ubuntu,"Helvetica Neue",Arial,"Liberation Sans",Thonburi, Garuda,sans-serif; }
            pre { background: #333; color: #fff; padding: 10px; border-radius: 5px; }
            code { font-size: 1.25em; }
            a { color: #000; font-weight: bold; text-decoration: none; }
            a:hover { color: #999; }
            h1,h2 { color: #000; }
            h1 { font-size: 2.5em; }
            h2 { font-size: 1.75em; padding: 25px 0 10px 0; margin: 0; }
            h2 + p { margin-top: 0; }
            #page { width: 600px; margin: 0 auto; padding: 25px; }
            .versions li { display: inline; }
            .versions li:after { content: ","; }
            .versions li:last-of-type:after { content: ""; }
            .versions { display: inline; margin: 0; padding: 0; opacity: .5; }
            .versions:before { content: "("; }
            .versions:after { content: ")"; }
            .gems { font-size: 1.25em; padding-left: 23px; }
        </style>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-3757716-14']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>

    <body>
        <div id="page">
            <h1>Webzer Rubygems Proxy</h1>
            <p>Rack app เพื่อ cache RubyGems files ไว้ใน server เราเอง แก้ปัญหา <code>rubygems.org timeout</code> (เป็นปัญหา network ที่ทำให้ติดตั้งหรืออัพเดต gems ไม่ได้)</p>

            <h2>Use this gems proxy?</h2>

            <p>แก้ไขไฟล์ <code>~/.gemrc</code> ของคุณ เพื่อใช้ <code>gems.webzer.net</code> แทน <code>rubygems.org</code> ประมาณนี้ :</p>
            <pre><code>---
:sources:
- <%= server_url %>
gem: --no-rdoc --no-ri</code>
            </pre>

            <h2>Remotely or Locally?</h2>
            
            <p>ถ้าคุณใช้ <a href="https://rvm.beginrescueend.com/">rvm</a> ติดตั้ง ruby หลายเวอร์ชั่น คุณอาจมี gemsets หลายชุดสำหรับใช้งานกับแต่ละโปรเจ็คต์ <a href="https://github.com/fnando/rubygems_proxy">Rubygems Proxy</a> ช่วยให้เราไม่ต้องดาวน์โหลด gem files ซ้ำๆ เพราะรวมไว้ที่เดียว ใน Local proxy และสามารถติดตั้ง gems บางตัวได้ แม้ไม่มี internet</p>
            
            <p>ส่วนเหตุผลที่สร้าง Remote proxy อย่าง gems.webzer.net ไว้ ก็เพื่อ cache gems ไว้ใช้เองใน VPS (มันคือ Local proxy ของ VPS แต่เป็น Remote proxy สำหรับ web) และเผื่อใครเจอปัญหา <code>rubygems.org timeout</code> บ่อยๆ ก็จะได้ใช้ gems.webzer.net เป็น proxy แทน rubygems.org ได้</p>

            <h2>Your own gems proxy?</h2>

            <p>ถ้าคุณต้องการสร้างคลัง Rubygems ของตัวเอง โปรดอ่านคำแนะนำที่ <a href="https://github.com/fnando/rubygems_proxy">Github: Rubygems Proxy</a> ต้นแบบอยู่ที่ <a href="http://gems.simplesideias.com.br/">gems.simplesideias.com.br</a> หรือส่งเสียงกระซิบมาที่ <a href="http://webzer.net/contact">webzer.net</a> และ <a href="http://twitter.com/gzix">@gzix</a>
            </p>

            <h2>Available gems</h2>

            <p>คุณสามารถติดตั้ง gems ใดๆก็ได้ ผ่าน proxy นี้ โดยไม่ต้องสนใจว่ามันมีในลิสต์ด้านล่างนี้หรือไม่ มันแค่แสดงรายการของ gems ที่ cache ไว้ใน server เท่านั้นเอง</p>

            <p><strong><%= gem_list.size %></strong> gems cached so far!</p>
            
            <ul class="gems">
                <% gems = grouped_gems; names = gems.keys.sort %>
                <% names.each do |name| %>
                    <li>
                        <a href="<%= rubygems_url(name) %>"><%= name %></a>

                        <ul class="versions">
                            <% gems[name].sort.each do |version| %>
                                <li>
                                    <a href="<%= gem_url(name, version) %>"><%= version %></a>
                                </li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>
            </ul>
        </div>

    </body>
</html>